.cart-content {
  padding: 100px 0 180px;
  h2 {
    margin-bottom: 30px;
  }
}

.cart-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.table-wrap {
  width: 66%;
}
