.product {
  transition: 0.3s;
  padding: 10px;
  position: relative;
  border: 1px solid rgba(230, 230, 230, 1);

  &-name {
    color: rgba(77, 77, 77, 1);
    font-size: 14px;
  }

  &-price {
    font-size: 16px;
    color: rgba(26, 26, 26, 1);
    font-weight: 600;

    &__discount {
      color: rgba(153, 153, 153, 1);
      font-weight: 400;
      text-decoration: line-through;
    }
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &:hover {
    border-color: rgba(0, 178, 7, 1);

    .hover-block {
      display: block;
    }
  }

  .hover-block-item {
    background-color: #fff;
  }
}

.sale {
  position: absolute;
  top: 10px;
  left: 10px;
  background: rgba(234, 75, 72, 1);
  color: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 14px;
}

.icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }
}

.add-to-cart {
  &:hover {
    background: rgba(0, 178, 7, 1);
  }
}

.hover-block {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;

  &-item {
    margin-bottom: 5px;
    border: 1px solid rgba(242, 242, 242, 1);
  }
}
