.quantity-wrap {
  width: 100px;
  border: 1px solid rgba(230, 230, 230, 1);
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-radius: 170px;
  padding: 5px;

  button {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(242, 242, 242, 1);
    border: none;

    img {
      width: 14px;
      height: 14px;
    }
  }

  input {
    text-align: center;
    width: 30px;
    border: none;
  }
}
