* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.content {
  width: 80%;
  max-width: 1920px;
  margin: 0 auto;
}

h2 {
  font-size: 32px;
  text-align: center;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}
